{{ form_start(formHours) }}
    <div class="row d-flex justify-content-evenly">
        <div class="col-4">
            {{ form_row(formHours.startHours) }}
        </div>
        <div class="col-4">
            {{ form_row(formHours.endHours) }}
        </div>
    </div>
    <div class="d-block text-center">
        {{ form_row(formHours.submit) }}
    </div>
{{ form_end(formHours) }}