{% extends 'base.html.twig' %}

{% block title %}Modifier information société | Corppilot{% endblock %}


{% block body %}
<div id="desktopNav" style="display: none;">
    {% include "partials/_desktopNav.html.twig" %}
</div>
<div class="container">
    {% include "partials/_headerStaff.html.twig" %}
    <div id="phoneUser" style="display: none;">
        {% include "partials/_currentUser.html.twig" %}
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="text-center">Modifier les informations de votre société</h2>
        </div>
    </div>
    <div class="w-50 mx-auto">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.companyName) }}
            {{ form_widget(form.companyName) }}

            {{ form_label(form.companyAbrev) }}
            {{ form_widget(form.companyAbrev) }}

            {{ form_label(form.companyPhone) }}
            {{ form_widget(form.companyPhone) }}

            {{ form_label(form.companyAddress) }}
            {{ form_widget(form.companyAddress) }}

            {{ form_label(form.companyCity) }}
            {{ form_widget(form.companyCity) }}

            {{ form_label(form.companyZipcode) }}
            {{ form_widget(form.companyZipcode) }}

            {{ form_label(form.companyEmail) }}
            {{ form_widget(form.companyEmail) }}

            {{ form_label(form.companySiret) }}
            {{ form_widget(form.companySiret) }}

            {{ form_label(form.companyLogoFile) }}
            {{ form_widget(form.companyLogoFile) }}
        </div>
        {{ form_end(form) }}
    </div>
</div>
<div class="btn-div">
    <a class="btn btn-primary"href="{{path('app_staff_vacation')}}">retour</a>
</div>

    {% include "partials/_phoneNav.html.twig" %}


<script>
document.addEventListener('DOMContentLoaded', function() {
    var columns; // Déclarer la variable columns en dehors des fonctions

    function updatePage() {
        var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

        if (windowWidth <= 768) {
            document.getElementById('phoneNav').style.display = 'block';
            document.getElementById('desktopNav').style.display = 'none';
            document.getElementById('desktopUser').style.display = 'none';
            document.getElementById('phoneUser').style.display = 'block';
            document.getElementById('phonelogout').classList.remove('d-none');
        } else {
            document.getElementById('phoneNav').style.display = 'none';
            document.getElementById('desktopNav').style.display = 'block';
            document.getElementById('desktopUser').style.display = 'block';
            document.getElementById('phoneUser').style.display = 'none';
            document.getElementById('phonelogout').classList.add('d-none');
            document.getElementById('desktoplogout').style.display = 'block';
        }
    }

    updatePage();

    // Attacher le gestionnaire d'événements pour redimensionner la fenêtre
    window.addEventListener('resize', updatePage);
});



</script>
{% endblock %}

