{% extends 'base.html.twig' %}

{% block title %}Demande de congés | {{ companyAbrev }}Gest{% endblock %}

{% block body %}
<div id="desktopNav" style="display: none;">
    {% include "partials/_desktopNav.html.twig" %}
</div>
<div class="container">
    <section class="headerStaff">
        <div class="row mt-4 ">
            <div id="desktopUser" class="col-4" style="display: none;">
                {% include "partials/_currentUser.html.twig" %}
            </div>
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <img src="{{ asset('assets/svg/blason.svg') }}" width="100" alt="Blason de la ville de deyvillers">
            </div>
            <div id="phonelogout" class="col-4 d-flex justify-content-end align-items-center">
                {% include "partials/_logout.html.twig" %}
            </div>
        </div>
    </section>
    <div id="phoneUser" style="display: none;">
        {% include "partials/_currentUser.html.twig" %}
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h1 class="text-center">Demande de congés</h1>
        </div>
    </div>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success w-50 mx-auto my-4  text-center">
            {{ message }}
        </div>
    {% endfor %}
<div class="row">
    <div class="col-md-6">
        <section class="formVac" id="col1">
            <label>Choisissez votre compte</label>
            <select class="form-select w-75 d-block mx-auto">
                <option value="1">Jour de congé classique</option>
                <option value="2">Compte épargne temps</option>
                <option value="3">Heures</option>
            </select>
                {{ form_start(formDays) }}
                    <div class="row d-flex justify-content-evenly">
                        <div class="col-4">
                            {{ form_row(formDays.startDate) }}
                        </div>
                        <div class="col-4">
                            {{ form_row(formDays.endDate) }}
                        </div>
                    </div>
                    <div class="d-block text-center">
                        {{ form_row(formDays.submit) }}
                    </div>
                {{ form_end(formDays) }}
            </section>
        </div>
        <div class="col-md-6">
            <section class="vacStatus" id="col2">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">Statut demande</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <table>
                            <thead>
                                <tr>
                                    <th class="th_period"></th>
                                    <th class="th_verif"></th>
                                    <th class="th_modify"></th>
                                    <th class="th_delete"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for vacation in vacations %}
                                    <tr>
                                        <td>{{ vacation.startDate|date('d/m/Y') ~ ' au ' ~ vacation.endDate|date('d/m/Y') }}</td>
                                        <td>
                                            {% if vacation.approved == 0 %}
                                                <img src="{{ asset('assets/svg/waiting.svg') }}" alt="En attente">
                                            {% elseif vacation.approved == 1 %}
                                                <img src="{{ asset('assets/svg/checked.svg') }}" alt="Validé">
                                            {% elseif vacation.approved == 2 %}
                                                <img src="{{ asset('assets/svg/cancel.svg') }}" alt="Refusé">
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{{ path('app_staff_vacation_modify', {'id': vacation.id}) }}">
                                                <img src="{{ asset('assets/svg/modify.svg') }}" alt="Modifier">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('app_staff_vacation_delete', {'id': vacation.id}) }}">
                                                <img src="{{ asset('assets/svg/trash.svg') }}" alt="Supprimer">
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <section class="vacDispo my-4">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-around">
                {% for dayVacation in dayVacations %}
                <div>
                    <span>{{ dayVacation.available }}</span>
                    <p>Jours de congés disponibles</p>
                </div>
                <div>
                    <span>{{ dayVacation.cet }}</span>
                    <p>Jours - compte épargne temps</p>
                </div>
                <div>
                    <span>{{ dayVacation.hoursAvailable }}</span>
                    <p>Heures disponibles</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
<div id="phoneNav" style="display: none;">
    {% include "partials/_phoneNav.html.twig" %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var columns; // Déclarer la variable columns en dehors des fonctions

    function updatePage() {
        var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

        // Décider quel menu afficher en fonction de la largeur de la fenêtre
        if (windowWidth <= 768) {
            document.getElementById('phoneNav').style.display = 'block';
            document.getElementById('desktopNav').style.display = 'none';
            document.getElementById('desktopUser').style.display = 'none';
            document.getElementById('phoneUser').style.display = 'block';
            document.getElementById('phonelogout').classList.remove('d-none');
            document.querySelector('.vacStatus').style.borderRadius = '0';
            document.querySelector('.vacStatus').classList.add('mt-4');
        } else {
            document.getElementById('phoneNav').style.display = 'none';
            document.getElementById('desktopNav').style.display = 'block';
            document.getElementById('desktopUser').style.display = 'block';
            document.getElementById('phoneUser').style.display = 'none';
            document.getElementById('phonelogout').classList.add('d-none');
            document.getElementById('desktoplogout').style.display = 'block';
            document.querySelector('.vacStatus').style.borderRadius = '0.5rem 0.5rem 0 0';
            document.querySelector('.vacStatus').classList.remove('mt-4');
        }


        // Récupérer dans une constante la col1
        const col1 = document.getElementById('col1');
        // Récupérer dans une constante la col2
        const col2 = document.getElementById('col2');

        // Définir quelle colonne à la height la plus grande
        if (col1.offsetHeight > col2.offsetHeight) {
            columns = col1.offsetHeight;
        } else {
            columns = col2.offsetHeight;
        }

        // Appliquer la height la plus grande aux deux colonnes
        col1.style.height = columns + 'px';
        col2.style.height = columns + 'px';


    }

    updatePage();

    // Attacher le gestionnaire d'événements pour redimensionner la fenêtre
    window.addEventListener('resize', updatePage);
});



</script>
{% endblock %}
