{% extends 'base.html.twig' %}

{% block title %}Modification de congés{% endblock %}
{% block body %}
<div id="desktopNav" style="display: none;">
    {% include "partials/_desktopNav.html.twig" %}
</div>
<div class="container">
    {% include "partials/_headerStaff.html.twig" %}
    <div id="phoneUser" style="display: none;">
        {% include "partials/_currentUser.html.twig" %}
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h1 class="text-center">Modification de congés</h1>
        </div>
    </div>
    <div class="row">
    <!-- formulaire -->
        <div class="col-md-12 ">
            <section class="formVac" id="col1">
        {{ form_start(form) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-12">
                        <h2 class="text-center">Nouvelle demande</h2>
                    </div>
                    <div class="col-10 mx-auto">
                    {{ form_row(form.account) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5 mx-auto">
                        {{ form_row(form.startDate) }}
                    </div>
                    <div class="col-5 mx-auto">
                        {{ form_row(form.endDate) }}
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-5 mx-auto">
                        {{ form_row(form.startHours) }}
                    </div>
                    <div class="col-5 mx-auto">
                        {{ form_row(form.endHours) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-10 mx-auto">
                        {{ form_row(form.submit) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
        </section>  
        </div>
    </div>
</div>
{% include "partials/_phoneNav.html.twig" %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    var vacationTypeSelect = document.getElementById('vacationType');
    var formDaysDiv = document.getElementById('formDays');
    var formHoursDiv = document.getElementById('formHours');

    vacationTypeSelect.addEventListener('change', function() {
        var selectedValue = vacationTypeSelect.value;

        formDaysDiv.style.display = 'none';
        formHoursDiv.style.display = 'none';

        if (selectedValue === '1') {
            formDaysDiv.style.display = 'block';
        } else if (selectedValue === '2') {
            formDaysDiv.style.display = 'block';
        } else if (selectedValue === '3') {
            formHoursDiv.classList.remove('d-none');
            formHoursDiv.style.display = 'block';
            document.querySelector('.hours').classList.remove('d-none');
        }
    });
    

    var columns; // Déclarer la variable columns en dehors des fonctions

    function updatePage() {
        var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

        // Décider quel menu afficher en fonction de la largeur de la fenêtre
        if (windowWidth <= 768) {
            document.getElementById('phoneNav').style.display = 'block';
            document.getElementById('desktopNav').style.display = 'none';
            document.getElementById('desktopUser').style.display = 'none';
            document.getElementById('phoneUser').style.display = 'block';
            document.getElementById('phonelogout').classList.remove('d-none');
        } else {
            document.getElementById('phoneNav').style.display = 'none';
            document.getElementById('desktopNav').style.display = 'block';
            document.getElementById('desktopUser').style.display = 'block';
            document.getElementById('phoneUser').style.display = 'none';
            document.getElementById('phonelogout').classList.add('d-none');
            document.getElementById('desktoplogout').style.display = 'block';
        }


        // Récupérer dans une constante la col1
        const col1 = document.getElementById('col1');
        // Récupérer dans une constante la col2
        const col2 = document.getElementById('col2');

        // Définir quelle colonne à la height la plus grande
        if (col1.offsetHeight > col2.offsetHeight) {
            columns = col1.offsetHeight;
        } else {
            columns = col2.offsetHeight;
        }

        // Appliquer la height la plus grande aux deux colonnes
        col1.style.height = columns + 'px';
        col2.style.height = columns + 'px';


    }

    updatePage();

    // Attacher le gestionnaire d'événements pour redimensionner la fenêtre
    window.addEventListener('resize', updatePage);
});



</script>
{% endblock %}
