{% extends 'base.html.twig' %}

{% block title %}Modifier un employé | {{ companyAbrev }}Gest{% endblock %}


{% block body %}
<div id="desktopNav" style="display: none;">
    {% include "partials/_desktopNav.html.twig" %}
</div>
<div class="container">
    <section class="headerStaff">
        <div class="row mt-4 ">
            <div id="desktopUser" class="col-4" style="display: none;">
                {% include "partials/_currentUser.html.twig" %}
            </div>
            <div class="col-4"></div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <img src="{{ asset('assets/svg/blason.svg') }}" width="100" alt="Blason de la ville de deyvillers">
            </div>
            <div id="phonelogout" class="col-4 d-flex justify-content-end align-items-center">
                {% include "partials/_logout.html.twig" %}
            </div>
        </div>
    </section>
    <div id="phoneUser" style="display: none;">
        {% include "partials/_currentUser.html.twig" %}
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h1 class="text-center">Modifier un employé</h1>
        </div>
    </div>
    {{ (form_start(form)) }}
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="text-center">Quel type de compte voulez-vous créer ?</h2>
        </div>
    </div>
    <div class="row mt-4 justify-content-center">
        <div class="col-md-6">
            <select class="form-select" name="typeCount" id="typeCount">
                <option value="1">Employé</option>
                <option value="2">Administrateur</option>
            </select>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="text-center">Informations de connexion</h2>
        </div>
    </div>
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="text-center">Informations personnelles</h2>
        </div>
    </div>
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.birthday) }}
    {{ form_row(form.socialSecurity) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.adress) }}
    {{ form_row(form.city) }}
    {{ form_row(form.zipcode) }}
    {{ form_row(form.job) }}
    {{ form_row(form.profilePictureFile) }}

    <div class="form-group">
        {{ form_row(form.submit, { 'attr': {'class': 'btn btn-primary rounded-0 my-3 mx-auto d-block'} }) }}
    </div>
    {{ form_end(form) }}
</div>

<div id="phoneNav" style="display: none;">
    {% include "partials/_phoneNav.html.twig" %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var columns; // Déclarer la variable columns en dehors des fonctions

    function updatePage() {
        var windowWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

        if (windowWidth <= 768) {
            document.getElementById('phoneNav').style.display = 'block';
            document.getElementById('desktopNav').style.display = 'none';
            document.getElementById('desktopUser').style.display = 'none';
            document.getElementById('phoneUser').style.display = 'block';
            document.getElementById('phonelogout').classList.remove('d-none');
        } else {
            document.getElementById('phoneNav').style.display = 'none';
            document.getElementById('desktopNav').style.display = 'block';
            document.getElementById('desktopUser').style.display = 'block';
            document.getElementById('phoneUser').style.display = 'none';
            document.getElementById('phonelogout').classList.add('d-none');
            document.getElementById('desktoplogout').style.display = 'block';
        }
    }

    updatePage();

    // Attacher le gestionnaire d'événements pour redimensionner la fenêtre
    window.addEventListener('resize', updatePage);
});



</script>
{% endblock %}