<html>
  <head>
    <meta charset="utf-8">
  
    <style>
      body {
        font-family: Arial, sans-serif;
      }

      .letter {
        max-width: 90%;
        margin: 0 auto;
      }

      .header {
        text-align: center;
        margin-bottom: 20px;
      }

      .content {
        margin-top: 40px;
        text-align: justify;
      }

      .date {
        margin: 40px 0 20px 100px;
      }

      .sender-info,
      .recipient-info {
        width: 100%;
      }

      .sender-info {
        text-align: left;
      }

      .recipient-info {
        text-align: right;
      }

      .corps {
        margin-top: 50px;
      }

      .signature {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <div class="letter">
      <div class="header">
      <img src="{{ absolute_url(vich_uploader_asset(company, 'companyLogoFile')) }}" width="100" alt="Logo de {{ company.companyName }}">
        <p><strong>{{ company.companyName }}</strong></p>
        {% if vacation.approved == 1 %}
          <h1>Acceptation de la Demande de Congé</h1>
        {% elseif vacation.approved == 2 %}
          <h1>Refus de la Demande de Congé</h1>
        {% endif %}
      </div>

      <div class="content">
        <div class="sender-info">
          <p><strong>{{ company.companyName}}</strong></p>
          <p>{{ company.companyAddress}}</p>
          <p>{{ company.companyZipcode}}, {{ company.companyCity}}</p>
          <p>{{ company.companyEmail}}</p>
          <p>0{{ company.companyPhone }}</p>
        </div>

        <div class="recipient-info">
          <p><strong>{{ user.lastname }} {{ user.firstname }}</strong></p>
          <p>{{ user.adress }}</p>
          <p>{{ user.zipcode }}, {{ user.city }}</p>
        </div>

        <p class="date">Le {{ "now"|date("d/m/Y") }} à {{ company.companyCity }}</p>

        {% if vacation.approved == 1 %}
          <p>Objet : Acceptation de la Demande de Congé</p>
        {% elseif vacation.approved == 2 %}
          <p>Objet : Refus de la Demande de Congé</p>
        {% endif %}


        <div class="corps">
        {% if vacation.approved == 1 %}
          {% if vacation.account == 3 %}
            <p>Votre demande de congé, prévue le {{ vacation.startDate|date("d/m/Y") }} de {{ vacation.startHours|date("H:i")|replace({":": "h"}) }} à {{ vacation.endHours|date("H:i")|replace({":": "h"}) }}, a bien été reçue.</p>
          {% else %}
            <p>Votre demande de congé, prévue du {{ vacation.startDate|date("d/m/Y") }} au {{ vacation.endDate|date("d/m/Y") }}, a bien été reçue.</p>
          {% endif %}
          <p>Après avoir examiné votre demande, nous sommes heureux de vous informer que votre congé a été accepté.</p>
        {% elseif vacation.approved == 2 %}
          {% if vacation.account == 3 %}
            <p>Votre demande de congé, prévue le {{ vacation.startDate|date("d/m/Y") }} de {{ vacation.startHours|date("H:i")|replace({":": "h"}) }} à {{ vacation.endHours|date("H:i")|replace({":": "h"}) }}, a bien été reçue.</p>
          {% else %}
            <p>Votre demande de congé, prévue du {{ vacation.startDate|date("d/m/Y") }} au {{ vacation.endDate|date("d/m/Y") }}, a bien été reçue.</p>
          {% endif %}
          <p>Après avoir soigneusement examiné votre demande, nous regrettons de vous informer que celle-ci ne peut pas être approuvée.</p>
        {% endif %}
        <p>Merci de votre compréhension.</p>
      </div>
      </div>

      <div class="signature">
    <p>Cordialement,</p>
    <img src="{{ absolute_url(vich_uploader_asset(company, 'signatureFile')) }}" width="100" alt="Signature de {{ company.companyName }}">




</div>

    </div>
  </body>
</html>
